/* Reset */
*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-* Utility Components *-*-*-*-*-*-*-*-*-*-*-*-* */

:root {
    font-size: 62.5%;

    /**** Custom Properties ****/
    --card-one-color: hsl(31, 77%, 52%);
    --card-two-color: hsl(184, 100%, 22%);
    --card-three-color: hsl(179, 100%, 13%);
    --font-color-p: hsla(0, 0%, 100%, 0.75);
    --primary-color: hsl(0, 0%, 95%);
}

body {
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    width: 100%;
    margin: 8.9rem auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

p {
    color: var(--font-color-p);
}


/* *-*-*-*-*-*-*-*-*-*-*-*-* Main Styling*-*-*-*-*-*-*-*-*-*-*-*-* */
section.card {
    height: 44rem;    
    width: 32.5rem;
    padding: 5rem 5rem 8.7rem 4.8rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card.one {
    background-color: var(--card-one-color);
    border-radius: 1rem 1rem 0 0;
}

.card.two {
    background-color: var(--card-two-color);
}

.card.three {
    background-color: var(--card-three-color);
    border-radius: 0 0 1rem 1rem;
}

.attribution { font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}