/* Reset */
*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-* Utility Components *-*-*-*-*-*-*-*-*-*-*-*-* */

:root {
    font-size: 62.5%;

    /**** Custom Properties ****/
    --card-one-color: hsl(31, 77%, 52%);
    --card-two-color: hsl(184, 100%, 22%);
    --card-three-color: hsl(179, 100%, 13%);
    --font-color-p: hsla(0, 0%, 100%, 0.75);
    --primary-color: hsl(0, 0%, 95%);
}

body {
    background-color: var(--primary-color);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.attribution { font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}